<%- include('./header.ejs', {title: "Login page"}) %>
<style>

    #detailedInfo > div {
        height: 75vh;
    }

    #basicAnchor {
        position: relative;
        background-image:
            url("https://lh3.googleusercontent.com/rascVIUb1KGac8xOudHyUV_oO_1LACokEMlIzFkv1bzikYYarcu4P9BA2xki8bYfCJ39QTQ-0O0a37CotaqQ6uk=s1500");
    }

    #basicInfo {
        background-color: black;
        opacity: 0.8;
        height: 60vh;
        width: 100vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #basicInfo > div {
        font-family: sans-serif;
        margin: 5%;
    }

    #basicIntroText {
        color: whitesmoke;
    }

    #basicMostRated {
        background-color: whitesmoke;
    }

</style>

    <div class="row">

            <!--<h3>Выберите категорию</h3>-->
            <!--<a href="simple" class="waves-effect waves-light btn" id="simple_search" >Игровой</a>-->
            <!--<a href="simple" class="waves-effect waves-light btn" id="simple_search" >Для повседневной работы</a>-->
            <!--<a href="simple" class="waves-effect waves-light btn" id="simple_search" >Ультрабук</a>-->
            <!--<a href="simple" class="waves-effect waves-light btn" id="simple_search" >Нетбук</a>-->
        <div class="col s12 m12 l12">
            <a id="notebookBasic" href="#basicAnchor" onclick="smoothScroll()">
                <div class="card col s3 m3 l3">
                    <div class="card-image">
                        <img src="https://materializecss.com/images/sample-1.jpg">
                        <span class="card-title">Ноутбуки для сёрфинга интернета</span>
                    </div>
                </div>
            </a>

            <a id="notebookOffice" href="#officeDetailedInfo" onclick="smoothScroll()">
                <div class="card col s3 m3 l3">
                    <div class="card-image">
                        <img src="https://materializecss.com/images/sample-1.jpg">
                        <span class="card-title">Офисная Работа</span>
                    </div>
                </div>
            </a>

            <a id="notebookBasic" href="#advancedWorkDetailedInfo" onclick="smoothScroll()">
                <div class="card col s3 m3 l3">
                    <div class="card-image">
                        <img src="https://materializecss.com/images/sample-1.jpg">
                        <span class="card-title">Программирование и Видеомонтаж</span>
                    </div>
                </div>
            </a>

            <a id="notebookBasic" href="#gamingDetailedInfo" onclick="smoothScroll()">
                <div class="card col s3 m3 l3">
                    <div class="card-image">
                        <img src="https://materializecss.com/images/sample-1.jpg">
                        <span class="card-title">Геймерские</span>
                    </div>
                </div>
            </a>

            <div id="filters">
                <form method="post" action="/result">

                </form>
            </div>

            <div class="col s12 m12 l12" id="detailedInfo" style="height: 70%">

                <div id="basicAnchor">
                    <div id="basicInfo">
                        <div id="basicIntroText">
                            <h6>В данном разделе представлены ноутбуки, по большей части, базовой комплектации.
                                Такие модели идеальны для простых операций, таких как сёрфинг в интернете,
                                просмотр Ютуба и прочих видеоматериалов. Также модели данной категории могут быть использованы
                                для простой офисной работы, базового программирования и запуска игр десятилетней давности</h6>
                        </div>
                        <div id="basicMostRated">

                        </div>
                    </div>
                </div>

                <div id="officeDetailedInfo">

                </div>

                <div id="advancedWorkDetailedInfo">

                </div>

                <div id="gamingDetailedInfo">

                </div>

            </div>

        </div>
    </div>

<script>
    function smoothScroll() {
      document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
          e.preventDefault();

          document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
          });
        });
      });
    }
</script>

<%- include('./footer.ejs', {title: "Login page"}) %>