<%- include('./header.ejs', {title: "Login page"}) %>

    <div class="row">

            <!--<h3>Выберите категорию</h3>-->
            <!--<a href="simple" class="waves-effect waves-light btn" id="simple_search" >Игровой</a>-->
            <!--<a href="simple" class="waves-effect waves-light btn" id="simple_search" >Для повседневной работы</a>-->
            <!--<a href="simple" class="waves-effect waves-light btn" id="simple_search" >Ультрабук</a>-->
            <!--<a href="simple" class="waves-effect waves-light btn" id="simple_search" >Нетбук</a>-->
        <div class="col s12 m12 l12">
            <a href="#notebookBasicAnchor" onclick="smoothAnchor">
                <div class="card col s3 m3 l3">
                    <div class="card-image">
                        <img src="https://materializecss.com/images/sample-1.jpg">
                        <span class="card-title">Ноутбуки для сёрфинга интернета</span>
                    </div>
                </div>
            </a>

            <div class="card col s3 m3 l3">
                <div class="card-image" style="width: 100%; height: 100%">
                    <img src="https://materializecss.com/images/sample-1.jpg">
                    <span class="card-title">Для офисной работы</span>
                </div>
            </div>

            <div class="card col s3 m3 l3">
                <div class="card-image" style="width: 100%; height: 100%">
                    <img src="https://materializecss.com/images/sample-1.jpg">
                    <span class="card-title">Программирование/Видеомонтаж</span>
                </div>
            </div>

            <div class="card col s3 m3 l3">
                <div class="card-image" style="width: 100%; height: 100%">
                    <img src="https://materializecss.com/images/sample-1.jpg">
                    <span class="card-title">Игровые</span>
                </div>
            </div>

            <div id="filters">
                <form method="post" action="/result">

                </form>
            </div>

            <div id="notebookBasicAnchor" style="height:2000px">

            </div>


        </div>
    </div>

<script>
    function smoothAnchor(element) {
      const elementId = "#notebookBasicAnchor";
      $(elementId).on("click", (event) => {

        event.preventDefault();

        const id = $(this).attr("href");

        const top = $(id).offset().top;

        $("category.ejs").animate({scrollTop: top}, 13500);

      })
    }
</script>
<%- include('./footer.ejs', {title: "Login page"}) %>