<%- include('./header.ejs', {title: "Login page"}) %>

<div class="container">
    <div class="row">
        <div class="col s9 m9 l9">
            <a href="simple" class="waves-effect waves-light btn" id="simple_search" >Базовый поиск</a>
            <a href="advanced" class="waves-effect waves-light btn" id="advanced_search">Продвинутый поиск</a>
        </div>
    </div>
</div>
<p>Welcome to <%= title %></p>

<%- include('./footer.ejs', {title: "Login page"}) %>