<%- include('./header.ejs', {title: "Login page"}) %>

<div class="container">
    <div class="row">
        <div class="col s9 m9 l9">
            <form method="get" action="/simple">
                <input class="waves-effect waves-light btn" type="submit" value="Базовый поиск">
            </form>
            <form method="get" action="/advanced">
                <input class="waves-effect waves-light btn" type="submit" value="Продвинутый поиск">
            </form>
            <form method="get" action="/category">
                <input class="waves-effect waves-light btn" type="submit" value="Категории">
            </form>
        </div>
    </div>
</div>
<p>Welcome to <%= title %></p>

<%- include('./footer.ejs', {title: "Login page"}) %>